@font-face {
    src: url('./fonts/texgyreadventor-regular.otf');
    font-family: "Avant Garde Gothic";
}

body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: "Avant Garde Gothic";
}

.icon {
    height: 48px;
    width: 48px;
}

#agenda {
    width: 300px;
    height: 300px;
}

.person {
    width: 100px;
    height: 100px;
}

.trash, .edit {
    width: 70px;
    height: 50px;
}

#menu {
    color: white;
}

.info {
    font-size: 175px;
}